.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.card {
  cursor: pointer;
  min-width: 200px;
  min-height: 200px;
  height: 20%;
  aspect-ratio: 1/1;
  border: 2px solid var(--secondary-white);
  border-radius: 20px;
  overflow: hidden;
}

.container p {
  color: var(--secondary-white);
  font-size: 2rem;
  transition: all 0.2s ease;
}

.card svg {
  min-width: 200px;
  min-height: 200px;
  height: 20%;
  aspect-ratio: 1/1;
  color: var(--secondary-white);
  object-fit: cover;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card:hover {
  border-color: var(--primary-white);
  color: var(--primary-white);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.container .card:hover svg {
  color: var(--primary-white);
  transition: all 0.2s ease;
}

.container:hover p {
  color: var(--primary-white);
  transform: translateY(10px);
  transition: all 0.2s ease;
}
